<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ recipe.title }}</mat-card-title>
    <mat-card-subtitle>Rating: {{ recipe.rating }}/10</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="recipe.imageUrl" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <mat-card-title>Ingredients</mat-card-title>
    <p>{{ recipe.ingredients }}</p>

    <mat-card-subtitle
      >Prep Time {{ recipe.prepTime }} minutes.</mat-card-subtitle
    >
    <mat-card-subtitle
      >Cook Time {{ recipe.cookingTime }} minutes.</mat-card-subtitle
    >
  </mat-card-content>
  <mat-card-content>
    <mat-chip-list *ngIf="tags">
      <mat-chip *ngFor="let tag of tags">{{ tag }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
